<div class="pricing_box">
    <ul class="clearfix">
        <li class="price_col price_col_blue ">
            <!--pricing item-->
            <div class="price_item boxed">
                <div class="price_col_head">
                    <span class="badge"></span>
                    <span class="price"><em>$</em>199<sup>90</sup></span>
                </div>
                <div class="price_col_body clearfix">
                    <div class="price_body_inner">
                        <div class="price_body_top">
                            <span>Full Circle</span>
                            <strong>Basic</strong>
                            <div class="line"></div>
                        </div>
                        <ul>
                            <li>Unlimited Traffic</li>
                            <li>20 gb in Cloud</li>
                            <li>0.5 gbit/sec</li>
                        </ul>
                    </div>
                </div>
                <div class="price_col_foot">
                    <div class="sign_up"><a href="#" class="btn btn-blue btn-small"><span>Buy Now</span></a></div>
                </div>
            </div>
            <!--/ pricing-item -->
        </li>

        <li class="price_col price_col_red col_active">
            <div class="price_item boxed">
                <div class="price_col_head">
                    <span class="badge"></span>
                    <span class="price"><em>$</em>299<sup>90</sup></span>
                </div>
                <div class="price_col_body clearfix">
                    <div class="price_body_inner">
                        <div class="price_body_top">
                            <span>Full Circle</span>
                            <strong>Premium</strong>
                            <div class="line"></div>
                        </div>
                        <ul>
                            <li>Unlimited Traffic</li>
                            <li>50 gb in Cloud</li>
                            <li>1 gbit/sec</li>
                        </ul>
                    </div>
                </div>
                <div class="price_col_foot">
                    <div class="sign_up"><a href="#" class="btn btn-red"><span>Buy Now</span></a></div>
                </div>
            </div>
        </li>

        <li class="price_col price_col_green ">
            <div class="price_item boxed">
                <div class="price_col_head">
                    <span class="badge"></span>
                    <span class="price"><em>$</em>399<sup>90</sup></span>
                </div>
                <div class="price_col_body clearfix">
                    <div class="price_body_inner">
                        <div class="price_body_top">
                            <span>Full Circle</span>
                            <strong>Ultimate</strong>
                            <div class="line"></div>
                        </div>
                        <ul>
                            <li>Unlimited Traffic</li>
                            <li>80 gb in Cloud</li>
                            <li>2 gbit/sec</li>
                        </ul>
                    </div>
                </div>
                <div class="price_col_foot">
                    <div class="sign_up"><a href="#" class="btn btn-green btn-small"><span>Buy Now</span></a></div>
                </div>
            </div>
        </li>
    </ul>
</div>
