<div class="tabs_framed styled">
    <ul class="tabs clearfix">
        <li class="active"><a href="#about" data-toggle="tab">About</a></li>
        <li><a href="#history" data-toggle="tab">History</a></li>
        <li><a href="#past" data-toggle="tab">Past</a></li>
    </ul>

    <div class="tab-content boxed clearfix">
        <div class="tab-pane fade in active" id="about">
            <div class="inner clearfix">
                <div class="tab_image pull-left"><img src="images/temp/tabimage8.png" alt=""></div>
                <h2><a href="#">Michael Ormond</a></h2>
                <!-- Rating Stars -->
                <div class="rating">
                    <span class="star on"><input type="hidden" value="1"></span><!--
                                    --><span class="star on"><input type="hidden" value="2"></span><!--
                                    --><span class="star on"><input type="hidden" value="3"></span><!--
                                    --><span class="star off"><input type="hidden" value="4"></span><!--
                                    --><span class="star off"><input type="hidden" value="5"></span>
                </div>
                <!--/ Rating Stars -->
                <div class="tab-text"><p>He made his film debut with a minor part in Back to The Future Part II and then he became very popular.</p></div>
                <div class="buttons">
                    <a href="#" class="btn"><span>Normal</span></a>
                    <a href="#" class="btn hover"><span>Hover</span></a>
                    <a href="#" class="btn active"><span>Pressed</span></a>
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-left"><span>&nbsp;&nbsp;Left&nbsp;</span></a>
                    <a href="#" class="btn btn-green"><span>Change</span></a>
                    <a href="#" class="btn btn-right"><span>Right&nbsp;</span></a>
                </div>
            </div>
            <div class="bottom clearfix">
                <div class="tagcloud pull-right">
                    <a href="#" class="tag-link-1" title="2 topics"><span>Web Design</span></a>
                    <a href="#" class="tag-link-2" title="3 topics"><span>Illustration</span></a>
                    <a href="#" class="tag-link-3" title="5 topics"><span>Fashion Style</span></a>
                    <a href="#" class="tag-link-4" title="8 topics"><span>Typography</span></a>
                    <a href="#" class="tag-link-5" title="9 topics"><span>Interface</span></a>
                    <a href="#" class="tag-link-6" title="3 topics"><span>High resolution</span></a>
                </div>
                <h3>Tags</h3>
                <p>He made his film debut with a minor part in Back to The Future Part II</p>
            </div>
        </div>
        <div class="tab-pane fade" id="history">
            <div class="inner clearfix">
                <div class="tab_image pull-right"><img src="images/temp/tabimage9.png" alt=""></div>
                <h2><a href="#">Elijah Wood</a></h2>
                <!-- Rating Stars -->
                <div class="rating">
                    <span class="star on"><input type="hidden" value="1"></span><!--
                                    --><span class="star on"><input type="hidden" value="2"></span><!--
                                    --><span class="star on"><input type="hidden" value="3"></span><!--
                                    --><span class="star on"><input type="hidden" value="4"></span><!--
                                    --><span class="star off"><input type="hidden" value="5"></span>
                </div>
                <!--/ Rating Stars -->
                <div class="tab-text"><p>He made his film debut with a minor part in Back to The Future Part II and then he became very popular.</p></div>
                <div class="buttons">
                    <a href="#" class="btn"><span>Normal</span></a>
                    <a href="#" class="btn hover"><span>Hover</span></a>
                    <a href="#" class="btn active"><span>Pressed</span></a>
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-left"><span>&nbsp;&nbsp;Left&nbsp;</span></a>
                    <a href="#" class="btn btn-green"><span>Change</span></a>
                    <a href="#" class="btn btn-right"><span>Right&nbsp;</span></a>
                </div>
            </div>
            <div class="bottom clearfix">
                <div class="tagcloud pull-left">
                    <a href="#" class="tag-link-1" title="2 topics"><span>Web Design</span></a>
                    <a href="#" class="tag-link-2" title="3 topics"><span>Illustration</span></a>
                    <a href="#" class="tag-link-3" title="5 topics"><span>Fashion Style</span></a>
                    <a href="#" class="tag-link-4" title="8 topics"><span>Typography</span></a>
                    <a href="#" class="tag-link-5" title="9 topics"><span>Interface</span></a>
                    <a href="#" class="tag-link-6" title="3 topics"><span>High resolution</span></a>
                </div>
                <h3>Tags</h3>
                <p>He made his film debut with a minor part in Back to The Future Part II</p>
            </div>
        </div>
        <div class="tab-pane fade" id="past">
            <div class="inner clearfix">
                <div class="tab_image pull-left"><img src="images/temp/tabimage10.png" alt=""></div>
                <h2><a href="#">John Carpenter</a></h2>
                <!-- Rating Stars -->
                <div class="rating">
                    <span class="star on"><input type="hidden" value="1"></span><!--
                                    --><span class="star on"><input type="hidden" value="2"></span><!--
                                    --><span class="star on"><input type="hidden" value="3"></span><!--
                                    --><span class="star on"><input type="hidden" value="4"></span><!--
                                    --><span class="star off"><input type="hidden" value="5"></span>
                </div>
                <!--/ Rating Stars -->
                <div class="tab-text"><p>He made his film debut with a minor part in Back to The Future Part II and then he became very popular.</p></div>
                <div class="buttons">
                    <a href="#" class="btn"><span>Normal</span></a>
                    <a href="#" class="btn hover"><span>Hover</span></a>
                    <a href="#" class="btn active"><span>Pressed</span></a>
                </div>
                <div class="buttons">
                    <a href="#" class="btn btn-left"><span>&nbsp;&nbsp;Left&nbsp;</span></a>
                    <a href="#" class="btn btn-green"><span>Change</span></a>
                    <a href="#" class="btn btn-right"><span>Right&nbsp;</span></a>
                </div>
            </div>
            <div class="bottom clearfix">
                <div class="tagcloud pull-left">
                    <a href="#" class="tag-link-1" title="2 topics"><span>Web Design</span></a>
                    <a href="#" class="tag-link-2" title="3 topics"><span>Illustration</span></a>
                    <a href="#" class="tag-link-3" title="5 topics"><span>Fashion Style</span></a>
                    <a href="#" class="tag-link-4" title="8 topics"><span>Typography</span></a>
                    <a href="#" class="tag-link-5" title="9 topics"><span>Interface</span></a>
                    <a href="#" class="tag-link-6" title="3 topics"><span>High resolution</span></a>
                </div>
                <h3>Tags</h3>
                <p>He made his film debut with a minor part in Back to The Future Part II</p>
            </div>
        </div>
    </div>
</div>
