<div class="widget-container widget_avatar boxed">
    <div class="avatar-image"><img src="images/temp/avatar-image.jpg" alt="" /></div>
    <div class="inner clearfix">
        <div class="avatar"><img src="images/temp/avatar.png" alt="" /></div>
        <h5>John Raymons</h5>
        <span class="subtitle">Your talent amazes! This is awesome. Excited to see the final product.</span>
    </div>
    <div class="post-meta-links">
        <ul class="clearfix">
            <li class="post-view"><a href="#"><span><i class="icon-post"></i>172</span></a></li>
            <li class="post-comm"><a href="#"><span><i class="icon-post"></i>34</span></a></li>
            <li class="post-like"><a href="#"><span><i class="icon-post"></i>210</span></a></li>
        </ul>
    </div>
</div>
