<div class="widget-container widget_search styled boxed line-left">
    <div class="inner">
        <form method="get" id="searchform2" action="#">
            <div class="clearfix">
                <span class="btn"><input type="submit" value="Search" /></span>
                <div class="field_text"><input name="search" value="" type="text" placeholder="Type word here" /></div>
            </div>
        </form>
    </div>
</div>
