<div class="widget-container widget-social boxed">
    <ul>
        <li><a href="#" class="social-facebook"><span>Facebook</span></a></li>
        <li><a href="#" class="social-pinterest"><span>Pinterest</span></a></li>
        <li><a href="#" class="social-twitter"><span>Twitter</span></a></li>
    </ul>
</div>
