<div class="tabs_framed styled widget-stats">
    <ul class="tabs clearfix">
        <li class="active"><a href="#diagram" data-toggle="tab">Diagram Stats</a></li>
        <li><a href="#month" data-toggle="tab">Month Report</a></li>
    </ul>

    <div class="tab-content boxed clearfix">
        <div class="tab-pane fade in active" id="diagram">
            <h6>Data Transfer</h6>
            <div id="donutchart" class="donutchart"></div>
            <ul class="stats-data clearfix">
                <li><a href="#"><span>audio</span><strong>55%</strong></a></li>
                <li class="red"><a href="#"><span>video</span><strong>23%</strong></a></li>
                <li class="yellow"><a href="#"><span>photo</span><strong>17%</strong></a></li>
            </ul>
            <ul class="stats-links clearfix">
                <li><a href="#"><i class="stats-icon stats-icon1"></i><br /><span>upload files</span></a></li>
                <li><a href="#"><i class="stats-icon stats-icon2"></i><br /><span>share link</span></a></li>
                <li><a href="#"><i class="stats-icon stats-icon3"></i><br /><span>back up</span></a></li>
            </ul>
        </div>
        <div class="tab-pane fade" id="month">
            <h6>Data chart</h6>
            <div id="columnchart" class="columnchart"></div>
            <ul class="stats-data clearfix">
                <li><a href="#"><span>audio</span><strong>50%</strong></a></li>
                <li class="red"><a href="#"><span>video</span><strong>26%</strong></a></li>
                <li class="yellow"><a href="#"><span>photo</span><strong>18%</strong></a></li>
            </ul>
            <ul class="stats-links clearfix">
                <li><a href="#"><i class="stats-icon stats-icon1"></i><br /><span>upload files</span></a></li>
                <li><a href="#"><i class="stats-icon stats-icon2"></i><br /><span>share link</span></a></li>
                <li><a href="#"><i class="stats-icon stats-icon3"></i><br /><span>back up</span></a></li>
            </ul>
        </div>
    </div>
</div>
