<div class="widget-container widget-trade boxed">
    <div class="widget-title">
        <span class="trade-rate trade-rate-up">634. 39</span>
        <span class="trade-rate-change">+2.18 (3.71%)</span>
    </div>
    <div class="inner">
        <div class="trade-time">Today 2:25 pm</div>
        <h4 class="trade-location"><a href="#">Salt Lake City, Utah</a></h4>
        <ul class="trade-shares clearfix">
            <li class="traded"><a href="#"><strong>13.5 M</strong><span>Shares Traded</span></a></li>
            <li class="capitalization"><a href="#"><strong>28.44 B</strong><span>Market Cap</span></a></li>
        </ul>
        <div class="trade-bottom trade-graph">
            <h6 class="trade-bottom-title">AAPL</h6>
            <div class="trade-bottom-content"><img src="images/trade-graph.png" alt="" /></div>
        </div>
        <div class="trade-bottom trade-yearly-change">
            <h6 class="trade-bottom-title">Yearly Change</h6>
            <div class="trade-bottom-content"><span>+127. 01</span></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
