<div class="widget-container widget-weather boxed clearfix">
    <div class="air-temp"><strong>26&deg;</strong></div>
    <div class="water-temp"><strong>14&deg;</strong></div>
    <div class="wind-speed"><strong>13</strong></div>
</div>
