<!-- join/signup menu shown unless signed in -->
<li class="pull-right"><a href="#"><span>Sign in</span></a></li>
<li class="pull-right"><a href="join"><span>Join</span></a></li>
<!--/ join/signup menu -->
