<!-- profile menu shown if signed in -->
<li class="pull-right"><a href="#"><i class="icon-menu icon-menu6"></i><span>Sign out</span></a></li>
<li class="pull-right"><a href="#"><i class="icon-menu icon-menu5"></i><span>My Profile</span></a>
    <ul>
        <li><a href="#">Invite friends</a></li>
        <li><a href="#">find friends</a></li>
        <li><a href="#">Log out</a></li>
    </ul>
</li>
<!-- /profile menu -->
