<div class="user-menu">
    <ul class="dropdown clearfix boxed">
        <li class="hover"><a href="#"><i class="icon-menu icon-menu5"></i><span>My Profile</span></a>
            <ul>
                <li><a href="#">Invite friends</a></li>
                <li><a href="#">find friends</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="icon-menu icon-menu6"></i><span>Edit Profile</span></a></li>
    </ul>
</div>
